<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>318846020421-g6mtccrq40f4uqkrgptbfldt2i485o0j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.318846020421-g6mtccrq40f4uqkrgptbfldt2i485o0j</string>
	<key>API_KEY</key>
	<string>AIzaSyB_TputkxE2423A5KsCoKoCe9O5NUT-m6U</string>
	<key>GCM_SENDER_ID</key>
	<string>318846020421</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.idanidev.clarity</string>
	<key>PROJECT_ID</key>
	<string>clarity-gastos</string>
	<key>STORAGE_BUCKET</key>
	<string>clarity-gastos.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318846020421:ios:0a7f99d417735b6529ec2c</string>
</dict>
</plist>